@keyframes width {

    0%,
    100% {
        width: 3vh;
    }

    50% {
        width: 15vh;
    }
}

.main-slider--nav-l {
    height: 55px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    cursor: pointer;

    .b {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        .icon {}

        .line {
            width: 218px;
            height: 2px;

            background: #ffffff;
            animation: width 4.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
        }
    }
}

.main-slider--nav-r {
    height: 55px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    cursor: pointer;

    .b {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        .icon {}

        .line {
            width: 218px;
            height: 2px;

            background: #99BDD1;
            animation: width 4.2s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
        }
    }
}