.news {

    >.container {
        margin: 0 auto;

        @include media-breakpoint-only(xxl) {
            width: 1320px;
        }

        @include media-breakpoint-only(xl) {
            width: 1140px;
        }

        @include media-breakpoint-only(lg) {
            width: 960px;
        }

        @include media-breakpoint-only(md) {
            width: 720px;
        }

        @include media-breakpoint-only(sm) {
            width: auto;
            padding: 0 25px;
        }

        @include media-breakpoint-only(xs) {
            width: auto;
            padding: 0 10px;
        }
    }
}

.news-rows {

    >.row-1 {}

    >.row-2 {}
}

.news--title-block {
    display: flex;
    flex-direction: row;

    @include media-breakpoint-only(xxl) {}

    @include media-breakpoint-only(xl) {}

    @include media-breakpoint-only(lg) {}

    @include media-breakpoint-only(md) {
        flex-direction: column;
    }

    @include media-breakpoint-only(sm) {
        flex-direction: column;
    }

    @include media-breakpoint-only(xs) {
        flex-direction: column;
    }

    >.col-1 {
        flex-basis: 30%;

        @include media-breakpoint-only(xxl) {}

        @include media-breakpoint-only(xl) {}

        @include media-breakpoint-only(lg) {}

        @include media-breakpoint-only(md) {}

        @include media-breakpoint-only(sm) {}

        @include media-breakpoint-only(xs) {}
    }

    >.col-2 {
        flex-basis: 70%;

        @include media-breakpoint-only(xxl) {}

        @include media-breakpoint-only(xl) {}

        @include media-breakpoint-only(lg) {}

        @include media-breakpoint-only(md) {
            flex-basis: auto;
        }

        @include media-breakpoint-only(sm) {
            flex-basis: auto;
        }

        @include media-breakpoint-only(xs) {
            flex-basis: auto;
        }
    }
}

.news-posts {
    padding-top: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;

    @include media-breakpoint-only(xxl) {}

    @include media-breakpoint-only(xl) {}

    @include media-breakpoint-only(lg) {}

    @include media-breakpoint-only(md) {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    @include media-breakpoint-only(sm) {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    @include media-breakpoint-only(xs) {
        grid-template-columns: 1fr;
        gap: 25px;
    }
}

.news-post {
    background-color: #ecf3f5;

    display: flex;
    flex-direction: column;

    >.row-1 {}

    >.row-2 {
        flex-grow: 1;
    }

    >.row-3 {}
}

.news-post--info {

    .title {
        padding: 15px;

        h4 {
            margin: 0;
            padding: 0;

            font-family: "Exo 2", sans-serif;
            font-size: 16px;

            color: #3e79bf;
            text-align: center;
            line-height: 22px;
        }
    }

    .description {
        padding: 0 15px;

        p {
            margin: 0;
            padding: 0;

            font-family: "Roboto", sans-serif;
            font-size: 14px;

            color: #555555;
            line-height: 22px;
        }
    }
}

.news-post--img {

    img {
        display: block;
        max-width: 100%;
    }
}

.news-post--more {
    padding: 15px;
    text-align: right;

    .link {
        display: inline-block;
        text-decoration: none;
        color: #3e79bf;
        border-bottom: 1px solid #3e79bf;
        font-family: "Roboto", sans-serif;
    }
}