.contacts {

    >.container {
        display: flex;
        flex-direction: row;

        @include media-breakpoint-only(xxl) {}

        @include media-breakpoint-only(xl) {}

        @include media-breakpoint-only(lg) {}

        @include media-breakpoint-only(md) {
            flex-direction: column;
        }

        @include media-breakpoint-only(sm) {
            flex-direction: column;
        }

        @include media-breakpoint-only(xs) {
            flex-direction: column;
        }

        >.col-1 {
            flex-basis: 50%;

            @include media-breakpoint-only(xxl) {}

            @include media-breakpoint-only(xl) {}

            @include media-breakpoint-only(lg) {}

            @include media-breakpoint-only(md) {
                flex-basis: auto;
            }

            @include media-breakpoint-only(sm) {
                flex-basis: auto;
            }

            @include media-breakpoint-only(xs) {
                flex-basis: auto;
            }
        }

        >.col-2 {
            flex-basis: 50%;
        }
    }
}

.b-page-contacts {

    h4 {
        margin: 0;
        padding: 0 0 15px 0;

        @include title-font();

        font-size: 18px;
        color: #474747;
        text-transform: uppercase;

        @include media-breakpoint-only(xxl) {}

        @include media-breakpoint-only(xl) {}

        @include media-breakpoint-only(lg) {}

        @include media-breakpoint-only(md) {}

        @include media-breakpoint-only(sm) {}

        @include media-breakpoint-only(xs) {
            font-size: 16px;
            padding: 0 0 25px 0;
        }
    }
}

.page-contacts-list {
    margin: 0;
    padding: 0;
    list-style: none;

    .item {
        margin: 10px 0 10px 0;

        &:first-child {
            margin: 0 0 10px 0;
        }

        &:last-child {
            margin: 10px 0 0 0;
        }

        .link {
            text-decoration: none;

            font-size: 16px;
            color: #717171;

            &:hover {
                color: #3C3C3C;
            }
        }
    }

    .address {

        .t {
            display: block;
            text-decoration: none;
            font-size: 16px;
        }
    }
}

.map {
    margin-top: 55px;
    min-height: 450px;
    background: #ebebeb;
}