.page {
    padding-bottom: 100px;

    >.container {
        margin: 0 auto;

        @include media-breakpoint-only(xxl) {
            width: 1320px;
        }

        @include media-breakpoint-only(xl) {
            width: 1140px;
        }

        @include media-breakpoint-only(lg) {
            width: 960px;
        }

        @include media-breakpoint-only(md) {
            width: 720px;
        }

        @include media-breakpoint-only(sm) {
            width: auto;
            padding: 0 25px;
        }

        @include media-breakpoint-only(xs) {
            width: auto;
            padding: 0 10px;
        }
    }
}

.b-page-title {

    .title {
        margin: 0;
        padding: 0 0 25px 0;

        @include title-font();
        font-size: 16px;

        color: #3C3C3C;
    }
}

.article {
    margin: 0;
    padding: 25px 0 0 0;

    h1,
    h2,
    h3,
    h4 {
        margin: 25px 0 15px 0;
        color: #3C3C3C;

        @include title-font();
        font-size: 16px;
    }

    h1 {}

    h2 {}

    h3 {}

    h4 {}

    p {
        margin: 15px 0 15px 0;
    }
}