html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;

    @include text-font();

    font-size: 14px;
    color: #717171;
    line-height: 22px;
}

.website {
    max-width: 1920px;
    min-width: 320px;
    min-height: 100vh;

    margin: 0 auto;

    >.container {
        margin: 0 auto;
        min-height: 100vh;

        display: grid;

        // (header:fixed) 
        // 1fr div:main 
        // auto div:footer 
        grid-template-rows: 1fr auto;

        // @include media-breakpoint-only(xxl) {}

        // @include media-breakpoint-only(xl) {}

        // @include media-breakpoint-only(lg) {}

        // @include media-breakpoint-only(md) {}

        // @include media-breakpoint-only(sm) {}

        // @include media-breakpoint-only(xs) {}
    }
}

.header {
    position: fixed;

    top: 0;
    right: 0;
    bottom: auto;
    left: 0;

    z-index: 100;
    min-width: 320px;

    background-color: #ffffff;

    >.container {
        margin: 0 auto;
        min-height: 65px;

        display: flex;
        flex-direction: row;
        align-items: center;

        @include media-breakpoint-only(xxl) {
            width: 1320px;
        }

        @include media-breakpoint-only(xl) {
            width: 1140px;
        }

        @include media-breakpoint-only(lg) {
            width: 960px;
        }

        @include media-breakpoint-only(md) {
            width: 720px;
        }

        @include media-breakpoint-only(sm) {
            width: auto;
            padding: 0 25px;
        }

        @include media-breakpoint-only(xs) {
            width: auto;
            padding: 0 10px;
        }

        .logo-link {

            .img {
                display: block;

                width: 207px;
                height: auto;

                @include media-breakpoint-only(xxl) {}

                @include media-breakpoint-only(xl) {}

                @include media-breakpoint-only(lg) {}

                @include media-breakpoint-only(md) {
                    width: 155px;
                    height: auto;
                }

                @include media-breakpoint-only(sm) {
                    width: 155px;
                    height: auto;
                }

                @include media-breakpoint-only(xs) {
                    width: 155px;
                    height: auto;
                }
            }
        }

        .col {
            flex-grow: 1;

            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

.b-header-menu {
    display: flex;
    flex-direction: row;
    align-items: center;

    .menu {
        flex-grow: 1;
    }

    .lang {}

    .btn {
        display: none;

        // @include media-breakpoint-only(xxl) {}

        // @include media-breakpoint-only(xl) {}

        // @include media-breakpoint-only(lg) {}

        // @include media-breakpoint-only(md) {}

        // @include media-breakpoint-only(sm) {}

        // @include media-breakpoint-only(xs) {}

        @include media-breakpoint-down(lg) {
            display: block;
        }
    }
}

.main {
    padding-top: 70px;
}

.footer {}

.footer-main {
    min-height: 200px;
    background-color: #717171;

    padding-top: 25px;

    >.container {
        margin: 0 auto;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;

        padding-bottom: 35px;

        @include media-breakpoint-only(xxl) {
            width: 1320px;
        }

        @include media-breakpoint-only(xl) {
            width: 1140px;
        }

        @include media-breakpoint-only(lg) {
            width: 960px;
        }

        @include media-breakpoint-only(md) {
            width: 720px;
            grid-template-columns: 1fr 1fr;
            gap: 25px;
        }

        @include media-breakpoint-only(sm) {
            width: auto;
            padding: 0 25px 25px 25px;

            grid-template-columns: 1fr 1fr;
            gap: 25px;
        }

        @include media-breakpoint-only(xs) {
            width: auto;
            padding: 0 10px 25px 10px;

            grid-template-columns: 1fr;
            gap: 25px;
        }

        >.col-1 {}

        >.col-2 {

            @include media-breakpoint-only(xxl) {}

            @include media-breakpoint-only(xl) {}

            @include media-breakpoint-only(lg) {
                padding-left: 15px;
            }

            @include media-breakpoint-only(md) {}

            @include media-breakpoint-only(sm) {}

            @include media-breakpoint-only(xs) {}
        }

        >.col-3 {}

        >.col-4 {}
    }
}

.footer-bottom {
    background-color: #575757;

    >.container {
        margin: 0 auto;

        min-height: 100px;

        display: flex;
        flex-direction: row;
        align-items: center;

        @include media-breakpoint-only(xxl) {
            width: 1320px;
        }

        @include media-breakpoint-only(xl) {
            width: 1140px;
        }

        @include media-breakpoint-only(lg) {
            width: 960px;
        }

        @include media-breakpoint-only(md) {
            width: 720px;
        }

        @include media-breakpoint-only(sm) {
            width: auto;
            padding: 0 25px;
            flex-direction: column;
        }

        @include media-breakpoint-only(xs) {
            width: auto;
            padding: 0 10px;
            flex-direction: column;
        }

        >.col-1 {
            flex-basis: 33.333%;

            @include media-breakpoint-only(xxl) {}

            @include media-breakpoint-only(xl) {}

            @include media-breakpoint-only(lg) {}

            @include media-breakpoint-only(md) {}

            @include media-breakpoint-only(sm) {
                padding-top: 25px;
                flex-basis: auto;
            }

            @include media-breakpoint-only(xs) {
                padding-top: 25px;
                flex-basis: auto;
            }
        }

        >.col-2 {
            flex-basis: 33.333%;

            @include media-breakpoint-only(xxl) {}

            @include media-breakpoint-only(xl) {}

            @include media-breakpoint-only(lg) {}

            @include media-breakpoint-only(md) {}

            @include media-breakpoint-only(sm) {
                padding-top: 10px;
                padding-bottom: 10px;

                flex-basis: auto;
            }

            @include media-breakpoint-only(xs) {
                padding-top: 10px;
                padding-bottom: 10px;

                flex-basis: auto;
            }
        }

        >.col-3 {
            flex-basis: 33.333%;

            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            @include media-breakpoint-only(xxl) {}

            @include media-breakpoint-only(xl) {}

            @include media-breakpoint-only(lg) {}

            @include media-breakpoint-only(md) {}

            @include media-breakpoint-only(sm) {
                padding-bottom: 25px;

                display: block;
                flex-basis: auto;
            }

            @include media-breakpoint-only(xs) {
                padding-bottom: 25px;

                display: block;
                flex-basis: auto;
            }
        }
    }
}