.main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;

    // @include media-breakpoint-only(xxl) {}

    // @include media-breakpoint-only(xl) {}

    // @include media-breakpoint-only(lg) {}

    // @include media-breakpoint-only(md) {}

    // @include media-breakpoint-only(sm) {}

    // @include media-breakpoint-only(xs) {}

    @include media-breakpoint-down(lg) {
        display: none;
    }
}

.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: row;

    >.item {
        margin: 0 15px 0 15px;
        padding: 10px 0;

        &:first-child {
            margin: 0 15px 0 0;
        }

        &:last-child {
            margin: 0 0 0 15px;
        }

        &:hover {

            >.link {
                color: #aa0000;
                border-bottom: 1px solid #aa0000;
            }

            .main-subnav {
                display: block;

                >.container {}
            }
        }

        >.link {
            display: block;
            text-decoration: none;

            color: #717171;
            border-bottom: 1px solid #717171;
            padding-bottom: 3px;

            font-size: 16px;
        }
    }

    .active {

        >.link {
            color: #aa0000;
            border-bottom: 1px solid #aa0000;
        }
    }
}

.mobile-menu-btn {
    width: 40px;
    cursor: pointer;

    .line {
        height: 1px;
        margin: 5px 0 5px 0;
        background-color: #717171;

        &:first-child {
            margin: 0 0 5px 0;
        }

        &:last-child {
            margin: 5px 0 0 0;
        }
    }
}

.main-subnav {
    position: relative;
    display: none;

    >.container {
        position: absolute;

        width: 200px;
        padding: 10px;

        top: 10px;
        left: -10px;

        background: rgba(255, 255, 255, 0.95);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.16);
    }
}

.main-submenu {
    margin: 0;
    padding: 0;
    list-style: none;

    >.item {
        margin: 5px 0 5px 0;

        &:first-child {
            margin: 0 0 5px 0;
        }

        &:last-child {
            margin: 5px 0 0 0;
        }

        &:hover {

            >.link {
                color: #aa0000;
            }
        }

        >.link {
            text-decoration: none;
            font-size: 16px;
            color: #717171;
        }
    }

    .active {

        >.link {
            color: #aa0000;
            border-bottom: none;
        }
    }
}