.footer-text-logo {

    .t {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color: #999999;
    }
}

.footer-bottom--copyright {
    text-align: center;

    .t {
        color: #999999;
        font-family: 'Roboto', sans-serif;
        font-size: 12px;
    }
}

.footer-social {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: row;

    >.item {
        margin: 0 5px 0 5px;

        &:first-child {
            margin: 0 5px 0 0;
        }

        &:last-child {
            margin: 0 0 0 5px;
        }

        >.link {
            text-decoration: none;

            img {
                display: block;
                width: 25px;
                height: auto;
            }
        }
    }
}

.footer-contacts {
    margin: 0;
    padding: 0;
    list-style: none;

    >.item {
        margin: 10px 0 10px 0;

        &:first-child {
            margin: 0 0 10px 0;
        }

        &:last-child {
            margin: 10px 0 0 0;
        }

        >.t {
            font-size: 14px;
            color: #e9e9e9;
            font-family: 'Roboto', sans-serif;
        }
    }

    .address {

        .t {
            line-height: 20px;
        }
    }

    .phone {}
}

.footer-menu {
    margin: 0;
    padding: 0;
    list-style: none;

    >.item {
        margin: 10px 0 10px 0;

        &:first-child {
            margin: 0 0 10px 0;
        }

        &:last-child {
            margin: 10px 0 0 0;
        }

        >.link {
            display: inline-block;
            text-decoration: none;

            padding-bottom: 2px;

            font-family: 'Roboto', sans-serif;
            font-size: 14px;

            color: #e9e9e9;

            &:hover {
                color: #c9c9c9;
            }
        }
    }
}

.b-footer-list {

    h5 {
        margin: 0;
        padding: 0 0 15px 0;
        font-family: 'Exo 2', sans-serif;
        font-size: 12px;
        color: #3C3C3C;
        text-transform: uppercase;
    }
}